@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

@page {
  size: auto;   /* auto is the initial value */
  margin: 0;  /* this affects the margin in the printer settings */
}

body {
  font-size: 9px;
}

.chart {
  height: 300px; width: 35%;
}

.break {
  page-break-after: always;
}

